<!-- Return to homepage link -->
<%= link_to("Return to book collection", books_path, :class => 'back-link') %>

<% @page_title = "Add Book Page" %>

<div class="new">
  <div class="page">
    <h2>Add a book</h2>
  </div>
  <div class="add">
    <%= form_for(@book) do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-Buttons">
          <%= f.submit("Add a new book") %>
      </div>
    <% end %>
  </div>
</div>
